@model IEnumerable<New_Project.Models.Employee>
@using Kendo.Mvc.UI
@using New_Project.Models
@using New_Project.ViewModel
@using System.ComponentModel.DataAnnotations;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div>
        @(

    Html.Kendo().Grid <EmployeeViewModel>().Name("grid").Columns (columns =>
    {
        columns.Bound(c => c.EmpID).Width(100).Title("EmployeeID");
        columns.Bound(c => c.EmpName);
        columns.Bound(c => c.Designation);
        columns.Bound(c => c.Department);
        columns.Bound(c => c.JoiningDate);
        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Width(200);
    }).HtmlAttributes( new { Style = "Hight : 500 px"})
    .Sortable()
    .Groupable()
    .Scrollable()
    .Pageable()
    .DataSource(dataSource => dataSource.Ajax()
    .Read(read => read.Action("GetAllEmp", controllerName :"CrudMVC"))
    .Update(update => update.Action("UpdateEmployee", "CrudMVC"))
    .Create(create => create.Action("AddEmployee", "CrudMVC"))
    .Destroy(destroy => destroy.Action("DeleteEmployee", "CrudMVC"))

    .PageSize(5).Model(model => model.Id(p => p.EmpID)))
    .ToolBar(toolbar => toolbar.Create())

           // Set grid editable.
           .Editable(editable => editable.Mode(GridEditMode.InLine))

            // Set grid sortable.
            .Sortable()

            // Set grid selectable.
            .Selectable()

            // Set grid pagable.
            .Pageable(pageable =>
            {
                pageable.Refresh(true);
                pageable.PageSizes(true);
            })

    )
    </div>
</div>



